.wrapper2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: -2rem;
  height: 795px;
}
.slider-container2 {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  height: 95%;
  cursor: grab;
  margin-bottom: 10px;
}
.slider2 {
  display: flex;
  transition: transform 0.3s ease-out;
  height: 100%;
  border-radius: 5px;
}
.slider2 {
  display: flex;
  transition: transform 0.3s ease-out;
  height: 100%;
  border-radius: 5px;
}
.slider2.grabbing2 {
  cursor: grabbing;
  transition: none;
}
.slide2 {
  border-radius: 5px;
  border: 1px solid #fff;
  /* background-image: url("../../assets/sun.jpg"); */
  background-position: center;
  background-size: cover;
  overflow: visible;
  min-width: 100%;
  height: 100%;
  display: flex;
  user-select: none;
}
.btns2 {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 5px;
}
.slider-btn2 {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 100%;
  background-color: #163046;
  opacity: 0.3;
}
.active {
  opacity: 1;
}
.slider-text-block-flex2 {
  height: 82px;
  padding: 14px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.slider-text-block {
  color: #343a40;
  font-size: 17px;
  font-family: "Serif", serif;
}
.slider-text-block2 {
  color: #495057;
  font-size: 14px;
  font-family: "Serif", serif;
  opacity: 0.6;
}
